{
	"tabWidth": 4,
	"useTabs": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"htmlWhitespaceSensitivity": "css",
	"jsxBracketSameLine": true,
	"jsxSingleQuote": true,
	"printWidth": 120,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"semi": true,
	"singleQuote": true,
	"trailingComma": "all"
}
